<mat-card style="margin:12px">
    <mat-form-field appearance="standard">
        <mat-label>New task title</mat-label>
        <input matInput [(ngModel)]="title">
    </mat-form-field>
    <button mat-icon-button (click)="addTask()">
        <mat-icon>
            add
        </mat-icon>
    </button>
    <p>{{title}} {{1+1}}</p>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let task of tasks">
            <mat-checkbox [(ngModel)]="task.completed" (change)="save()">
                {{task.title}}
            </mat-checkbox>
            <span class="spacer"></span>
            <button mat-icon-button (click)="remove(task)"> 
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </mat-list-item>

    </mat-list>
</mat-card>